# application host and port
HOST=0.0.0.0
PORT=8000

# database
DB_HOST=# get from project owner
DB_PORT=# get from project owner
DB_NAME=# get from project owner
DB_USER=# get from project owner
DB_PASSWORD=# get from project owner